#### 판다스

* 판다스는 구조화된 데이터 형식을 제공. 시리즈는 1차원 배열, 데이터프레임은 2차원 배열
* 라이브러리는 여러 종류의 class와 다양한 내장 함수로 구성. 시리즈와 데이터프레임은 대표적인 클래스 객체임
* 시리즈 인덱스는 데이터 값과 일대일 대응. 파이썬 딕셔너리와 비슷한 구조. pandas.Series(딕셔너리)

- Contents
 - Series(변환, 인덱스 구조, 원소 선택)
 - DataFrame(변환, 행인덱스/열이름 지정, 삭제,선택,추가, 변경, 전치, 인덱스 활용)

In [1]:
# 열 칼럼 행 로우

In [2]:
# dic -> Series

import pandas as pd

dic_data = {'a' : 1, 'b' : 2, 'c' : 3}

sr = pd.Series(dic_data) # Series 판다스내의 클래스

print (sr, type(sr))

a    1
b    2
c    3
dtype: int64 <class 'pandas.core.series.Series'>

In [3]:
# list -> Series

list_data = ['2019-07-02', 3.14, 'ABC', 100, True]

sr = pd.Series(list_data, index = ['a', 'b', 'c', 'd', 'e']) # 인덱스 대응
# sr = pd.Series(list_data, index = list('abcde')) 
print(sr, type(sr))

a    2019-07-02
b          3.14
c           ABC
d           100
e          True
dtype: object <class 'pandas.core.series.Series'>

In [4]:
# 튜플 -> Series

tub_data = ('kevin', '2019-07-02', '남', True)

sr = pd.Series(tub_data, index = ['이름','날짜','성별','학생여부'])

print(sr, type(sr))

이름           kevin
날짜      2019-07-02
성별               남
학생여부          True
dtype: object <class 'pandas.core.series.Series'>

In [5]:
sr[1]
print(sr[1])

2019-07-02

In [6]:
# 인덱스 및 값
idx = sr.index
print(idx)

val = sr.values
print(val)

Index(['이름', '날짜', '성별', '학생여부'], dtype='object')
['kevin' '2019-07-02' '남' True]

#### 데이터프레임
* 데이터프레임은 2차원 배열. R의 데이터프레임에서 유래.
* 데이터프레임의 열은 각각 시리즈 개체. 
* 시리즈를 열벡터라고 하면 데이터프레임은 여러개의 열벡터들이 같은 행 인덱스를
  기준으로 줄지어 결합된 2차원 벡터 또는 행렬.
* 선형대수학에서 열 벡터(m x 1 행렬)는 m 원소들의 단일 열 행렬
* 행 벡터(1 x m 행렬)은 m원소들의 단일 행 행렬.
* 리스트, 딕셔너리, ndarray 등 다양한 데이터로부터 생성
* 반대로 리스트, 딕셔너리, ndarray 등으로 변환될 수 있음

In [7]:
import numpy as np

np.random.seed(0)
data = np.random.randint(100,120, size= (3,3))

df = pd.DataFrame(data, index=['태현','서진','동완'], 
                  columns = ['몸무게', '식사량', '운동량'])

df

    몸무게  식사량  운동량
태현  112  115  100
서진  103  103  107
동완  109  119  118

In [8]:
# pandas indexing : iloc 정수 인덱스, loc 이름 인덱스

print(df.iloc[1])

몸무게    103
식사량    103
운동량    107
Name: 서진, dtype: int32

In [9]:
print(df.loc['서진'])

몸무게    103
식사량    103
운동량    107
Name: 서진, dtype: int32

In [10]:
print(df.index)
print(df.columns)

Index(['태현', '서진', '동완'], dtype='object')
Index(['몸무게', '식사량', '운동량'], dtype='object')

In [11]:
print(df.iloc[1][2])
print(df.loc['서진']['운동량'])

107
107

In [12]:
df_org = df.copy()
df_org

    몸무게  식사량  운동량
태현  112  115  100
서진  103  103  107
동완  109  119  118

In [13]:
df.iloc[0,0] = 85
df.loc['태현','식사량'] = 3
df.iloc[0,2] = 5

df.iloc[1,0] = 70
df.loc['서진','식사량'] = 5
df.iloc[1,2] = 1

df.iloc[2,0] = 75
df.loc['동완','식사량'] = 6
df.iloc[2,2] = 3

In [14]:
df.iloc[0] = [85,5,3]
df.loc['서진'] = [70,5,1]
df.iloc[2] = [75,6,3]

In [15]:
df

    몸무게  식사량  운동량
태현   85    5    3
서진   70    5    1
동완   75    6    3

In [16]:
# 행 2, 열 2 개 더 추가하기

df['키'] = [180,150,165,170,165]
df.loc['진선'] = [66,5,2,165]

ValueError: Length of values (5) does not match length of index (3)

In [ ]:
df

In [ ]:
d1 = df.index
print(d1)

d2 = df.columns
print(d2)

In [ ]:
df.iloc[0,0] = 5
df

In [ ]:
df.loc['예슬'] = 0
df

In [ ]:
df['수면시간'] = 0
df

In [ ]:
df['간식횟수'] = 0
df.loc['용훈'] = 0
df

In [ ]:
df.iloc[4] = df.iloc[0]
df

In [ ]:
df.iloc[:3,3] = 7
df

In [ ]:
df.iloc[3] = [85,7,3,6,2]
df

In [ ]:
df.iloc[:4,4] = [1,2,3,4]
df

In [ ]:
df.iloc[3:4] = [85,7,3,6,4]
df

In [ ]:
df.iloc[4:4] = [100,50,5,5,5]
df

In [ ]:
df.loc['주경'] = 0
df.loc['인혁'] = 0

df['공부시간'] = 0
df['멍때리는 시간'] = 0

df.iloc[:3,3] = 8
df.iloc[:3,4] = 3

df.loc['주경'] = df.loc['태현']

df.loc['인혁'] = [100,85,90,17,5]
df

In [ ]:
# 열삭제

import pandas as pd 

data = pd.DataFrame({'column1' : [1,2,3],
                     'column2' : [4,5,6],
                    'column3' : [7,8,9]})

print(data,'\n')

data1 = data.drop('column2', axis = 1, inplace=True) # 원본에서 삭제

print(data)

In [ ]:
# 인덱스 이름 변경
df.index = ['서진','태현','동완']
df

In [ ]:
df_orgy = df.copy()
df_orgy

In [ ]:
df.iloc[1,1] = np.nan
df

In [ ]:
# null 값을 찾아서 불 을 확인한다
df.isnull()

In [ ]:
# null 값 개수 구하기
df.isnull().sum().sum()

In [ ]:
# 각 열의 평균
df.mean(axis = 0)

In [ ]:
# 평균값으로 대체
df.iloc[1,1] = 117
df

In [ ]:
# 2차원 리스트를 데이터 프레임으로 변환

import numpy as np 

a = np.random.randint(0, 101, size = (10, 5))

print(a,type(a))

In [ ]:
import pandas as pd 
    
df_a = pd.DataFrame(a, index = ['r1','r2','r3','r4','r5','r6','r7','r8','r9','r10'], columns = ['국어','수학,','사회','과학','영어'])

df_a

In [ ]:
df_a.loc['평균'] = 0
df_a

In [ ]:
df_a.mean(axis = 0)

df_a.loc['평균'] = [47.8,58.3,51.4,56.7,43.9]
df_a

In [ ]:
df_a_orgy = df_a.copy()
df_a

In [ ]:
# 학생별 성적 데이터셋으로 의미 있게 데이터 셋을 수정하세요
# s1 ~ s10 평균 점수를 기준으로 1등급에서 10등급이고 등급간 점수 차는 5점
# 결시자가 국어 3명 수학 2명 있음
#영어 수학의 평균 점수가 국어 대비 5점 낮음
import numpy as np
import pandas as pd 
    
df_b = pd.DataFrame(0, index = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10'], columns = ['국어','수학','사회','과학','영어'])



df_b.loc['s1'] = [100, 100, 100, 100, 100]
df_b.loc['s2'] = [95, 95, 95, 95, 95]
df_b.loc['s3'] = [90, 90, 90, 90, 90]
df_b.loc['s4'] = [85, 85, 85, 85, 85]
df_b.loc['s5'] = [80, 80, 80, 80, 80]
df_b.loc['s6'] = [75, 75, 75, 75, 75]
df_b.loc['s7'] = [70, 70, 70, 70, 70]
df_b.loc['s8'] = [65, 65, 65, 65, 65]
df_b.loc['s9'] = [60, 60, 60, 60, 60]
df_b.loc['s10'] = [55, 55, 55, 55, 55]


df_b.iloc[9,0] = np.nan
df_b.iloc[8,0] = np.nan
df_b.iloc[3,0] = np.nan

df_b.iloc[9,1] = np.nan
df_b.iloc[1,1] = np.nan

df_b

In [ ]:
df_b.mean(axis = 0)

In [ ]:
for i in range(10) :
    df_b.iloc[i] = 100 - i * 5

for i in range(10) :
    df_b.iloc[i,1 : 3] = df_b.iloc[i,0] -5

df_b.iloc[7 : 10 , 0] = np.nan
df_b.iloc[8 : 10 , 2] = np.nan

df_b['평균'] = (df_b['국어'] + df_b['수학'] + df_b['사회'] + df_b['과학'] + df_b['영어'])/5

df_b

In [ ]:
#아래 데이터 프레임을 보완하여 10명의 나이 키 식사횟수 몸무게 수면시간 을 포함하는 데이터프레임을 작성하세요

import pandas as pd

df_c = pd.DataFrame(index = ['a','b','c','d','e'],
                   columns = ['나이', '키', '몸무게'])
# df_c.loc[:] = [[20, 170, 40], [25,180,80], [27,175,50], [23,160,50]]
df_c.loc['a'] = [20, 170, 63]
df_c.loc['b'] = [25, 173, 60]
df_c.loc['c'] = [23, 180, 80]
df_c.loc['d'] = [24, 165, 50]
df_c.loc['e'] = [28, 190, 95]

df_c.copy()
df_c

In [39]:
#아래 데이터 프레임을 보완하여 10명의 나이 키 식사횟수 몸무게 수면시간 을 포함하는 데이터프레임을 작성하세요

import numpy as np
import pandas as pd 
    
B = pd.DataFrame(0, index = ['a', 'b', 'c', 'd', 'e'], columns = ['나이', '키', '몸무게'])

B.drop('몸무게', axis = 1, inplace = True)

B['식사횟수'] = 0
B['몸무게'] = 0
B['수면시간'] = 0

B.loc['하나'] = 0
B.loc['들'] = 0
B.loc['셋'] = 0
B.loc['넷'] = 0
B.loc['다섯'] = 0

for i in range(10) :
    B.iloc[i,0] = 50 - i * 3
    B.iloc[i,1] = 185 - i * 5
    B.iloc[i,2] = 12 - i * 1
    B.iloc[i,3] = 100 - i * 7
    B.iloc[i,4] = 13 - i * 1

B

   나이    키  식사횟수  몸무게  수면시간
a  50  185    12  100    13
b  47  180    11   93    12
c  44  175    10   86    11
d  41  170     9   79    10
e  38  165     8   72     9
1  35  160     7   65     8
2  32  155     6   58     7
3  29  150     5   51     6
4  26  145     4   44     5
5  23  140     3   37     4

In [ ]:
# 과제 위의 것 내키는대로 바꿔 보기

과제 : 생성된 데이터프레임에서 아래 사항을 수행하세요.

-열이름과 행이름 변경

-3행만 출력

-5열만 출력

-3행 5열의 값 출력

-4열의 값을 모두 0으로 변경

-2,3행의 3열 값을 조회(2가지 방법)

-6행의 2,3,4열의 값을 조회(2가지 방법)

-2열을 Series와 DataFrame으로 각각 출력

-2행 3열의 값을 2행 4열의 값과 동일하게 변경

-2행 3열의 값과 2행 4열의 값을 동시에 만족하는 3,4열을 출력

In [52]:
# 데이터프레임 생성(8행 5열)
import numpy as np
import pandas as pd

np.random.seed(3)
data = np.random.randint(50,100,size=(8,5))

df = pd.DataFrame(data, columns=list('abcde'))
df

    a   b   c   d   e
0  92  74  53  58  50
1  71  69  60  93  91
2  60  71  88  82  70
3  94  79  89  64  76
4  67  76  72  52  52
5  51  76  55  90  96
6  83  79  92  74  57
7  93  83  65  98  87

In [54]:
#-열이름과 행이름 변경

df.columns = ['v1', 'v2', 'v3', 'v4', 'v5']
df.index = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8']

df

    v1  v2  v3  v4  v5
h1  92  74  53  58  50
h2  71  69  60  93  91
h3  60  71  88  82  70
h4  94  79  89  64  76
h5  67  76  72  52  52
h6  51  76  55  90  96
h7  83  79  92  74  57
h8  93  83  65  98  87

In [68]:
#-3행만 출력 -5열만 출력 -3행 5열의 값 출력

print(df.loc['h3'])

print(df['v5'])

print(df.iloc[2,4])

v1    60
v2    71
v3    88
v4    82
v5    70
Name: h3, dtype: int32
h1    50
h2    91
h3    70
h4    76
h5    52
h6    96
h7    57
h8    87
Name: v5, dtype: int32
70

In [76]:
#-4열의 값을 모두 0으로 변경

df['v4'] = 0

df

    v1  v2  v3  v4  v5
h1  92  74  53   0  50
h2  71  69  60   0  91
h3  60  71  88   0  70
h4  94  79  89   0  76
h5  67  76  72   0  52
h6  51  76  55   0  96
h7  83  79  92   0  57
h8  93  83  65   0  87

In [87]:
# 2,3행의 3열 값을 조회(2가지 방법) -6행의 2,3,4열의 값을 조회(2가지 방법)

print(df.loc['h2':'h3', 'v3'])
print(df.iloc[1:3, 2])

print(df.loc['h6', 'v2' : 'v4'])
print(df.iloc[5, 1:4])

h2    60
h3    88
Name: v3, dtype: int32
h2    60
h3    88
Name: v3, dtype: int32
v2    76
v3    55
v4     0
Name: h6, dtype: int64
v2    76
v3    55
v4     0
Name: h6, dtype: int64

In [90]:
# -2열을 Series와 DataFrame으로 각각 출력

print(df.iloc[: , 2])
print(df.iloc[: , [2]])

h1    53
h2    60
h3    88
h4    89
h5    72
h6    55
h7    92
h8    65
Name: v3, dtype: int32
    v3
h1  53
h2  60
h3  88
h4  89
h5  72
h6  55
h7  92
h8  65

In [108]:
# -2행 3열의 값을 2행 4열의 값과 동일하게 변경 -2행 3열의 값과 2행 4열의 값을 동시에 만족하는 3,4열을 출력

df.iloc[1,2] = df.iloc[1,3]

print(df.loc[(df.iloc[ : , 2] == df.iloc[1, 2]) & (df.iloc[ : , 3] == df.iloc[1, 3]), ['v3', 'v4']])

df

    v3  v4
h2   0   0

    v1  v2  v3  v4  v5
h1  92  74  53   0  50
h2  71  69   0   0  91
h3  60  71  88   0  70
h4  94  79  89   0  76
h5  67  76  72   0  52
h6  51  76  55   0  96
h7  83  79  92   0  57
h8  93  83  65   0  87