In [35]:
text1 = 'python python'
text2 = 'python python '
text3 = '3python python '

In [36]:
import re

p = re.compile('[a-z]+\s')

p.match(text1).group()

'python '

In [37]:
re.match('[a-z]+\s', text1).group()

'python '

In [38]:
re.findall('[a-z]+\s', text2)

['python ', 'python ']

In [39]:
p.findall(text2)

['python ', 'python ']

In [40]:
# p.match(text3)
p.search(text3).group()

'python '

In [42]:
p.findall(text3)

['python ', 'python ']

In [46]:
# 문자 클래스 : []

p = re.compile('[a-z]+')
p1 = p.match('Banker')
p2 = p.search('Banker')
p3 = p.search('banker')

print(p1)
print(p2)
print(p3)

None
<re.Match object; span=(1, 6), match='anker'>
<re.Match object; span=(0, 6), match='banker'>

In [66]:
# 12345abc 에서 a만 출력하세요

text = '12345abc'

p = re.compile(r'[a]')

a = p.search(text)

print(a.group())

a

In [101]:
text = '12345abc'

p = re.compile(r'[\D]')

a = p.search(text)

print(a.group())

a

In [94]:
text = '12345abc'

p = re.compile(r'[a-z]')

a = p.search(text)

print(a.group())

a

In [75]:
# 12345Abc 에서 A만 출력하세요

text = '12345Abc'

p = re.compile(r'[A]')

A = p.search(text)

print(A.group())

A

In [95]:
text = '12345Abc'

p = re.compile(r'[\D]')

A = p.search(text)

print(A.group())

A

In [96]:
text = '12345Abc'

p = re.compile(r'[A-Z]')

A = p.search(text)

print(A.group())

A

In [102]:
# KOREA 대한민국에서 대만 출력하세요

text = 'KOREA 대한민국'

p = re.compile(r'[대]')

de = p.search(text)

print(de.group())

대

In [112]:
text = 'KOREA 대한민국'

p = re.compile(r'\s\D')

de = p.search(text)

print(de.group())

 대

In [118]:
text = 'KOREA 대한민국'

p = re.compile(r'\s\D')

de = p.findall(text)

print(de[0])

 대

In [82]:
# 122333c 를 모두 출력하세요

text = '122333c'

p = re.compile(r'\w+')

t = p.search(text)

print(t.group())

122333c

In [87]:
text = '122333c'

p = re.compile(r'\d+\D')

t = p.search(text)

print(t.group())

122333c

In [119]:
text = '122333c'

p = re.compile(r'[a-z0-9]+')

t = p.search(text)

print(t.group())

122333c

In [122]:
text = '122333c'

p = re.compile(r'12{2}3{3}c')

p.search(text).group()

'122333c'

In [84]:
# aaaabbbcccdddeee 를 모두 출력하세요

text = 'aaaabbbcccdddeee'

p = re.compile(r'\w+')

t = p.search(text)

print(t.group())

aaaabbbcccdddeee

In [123]:
text = 'aaaabbbcccdddeee'

p = re.compile(r'[a-z]+')

t = p.search(text)

print(t.group())

aaaabbbcccdddeee

In [124]:
text = 'aaaabbbcccdddeee'

p = re.compile(r'a{4}b{3}c{3}d{3}e{3}')

p.search(text).group()

'aaaabbbcccdddeee'

### 과제1

BC CC ABC 모두 C가 출력 되는 정규 표현식을 작성하세요

In [201]:
pattern = re.compile(r'[C]')

text1 = 'BC'
text2 = 'CC'
text3 = 'ABC'

p1 = pattern.search(text1)
p2 = pattern.search(text2)
p3 = pattern.search(text3)

print(p1.group())
print(p2.group())
print(p3.group())

C
C
C

In [294]:
pattern = re.compile(r'\D$')

text1 = 'BC'
text2 = 'CC'
text3 = 'ABC'

p1 = pattern.search(text1)
p2 = pattern.search(text2)
p3 = pattern.search(text3)

print(p1.group())
print(p2.group())
print(p3.group())

C
C
C

### 과제2

1234a1234 에서 1 2 3 4를 모두 출력하세요

In [140]:
text = '1234a1234'

p = re.compile(r'\d')

r = p.findall(text)

print(r)

['1', '2', '3', '4', '1', '2', '3', '4']

In [270]:
text = '1234a1234'

p = re.compile(r'[0-9]')

r = p.findall(text)

for i in r :
    
    print(i)

1
2
3
4
1
2
3
4

### 과제 3

99food234, a93456\n, a9356ba 에서 99food234만 출력하세요

In [567]:
text = '99food234 a93456\n a9356ba'

p = re.compile(r'\d{2}\D+\d{3}')

r = p.search(text)

print(r.group())

99food234

In [585]:
text = '99food234 a93456\n a9356ba'

p = re.compile(r'\d+f.\S+\d+')

r = p.search(text)

print(r.group())

99food234

In [147]:
text = 'life is too short'

p = re.compile('[a-z]+')

r = p.findall(text)

print(r)

['life', 'is', 'too', 'short']

In [151]:
r = p.finditer(text)

for i in r :
    
    print(i.group())

life
is
too
short

In [174]:
text = 'Python3 is very good programming language'

re.findall(r'[a-zA-Z]+', text)

['Python', 'is', 'very', 'good', 'programming', 'language']

In [175]:
r = re.finditer(r'[a-zA-Z]+', text)

for i in r :
    
    print(i.group())

Python
is
very
good
programming
language

In [176]:
# match

text1 = 'life'
text2 = '!!!oh my life'
text3 = '7 is lucky number'

print(re.match('[a-z]+', text1).group())
print(re.match('[a-z]+', text2))
print(re.match('[a-z]+', text3))

life
None
None

In [187]:
# match 객체의 메서드

m = re.search('[a-z]+', '3 python')

print(m)
print(m.group())
print(m.start())
print(m.end())
print(m.span())

<re.Match object; span=(2, 8), match='python'>
python
2
8
(2, 8)

In [204]:
# DOt(.) 메타 문자는 줄바꿈 문자(\n)을 제외한 모든 문자와 매치

text = ['a\nb', 'acb', 'a12?Ab']

for t in text :
    
    r = re.match('a.+b', t)
    print(r)

None
<re.Match object; span=(0, 3), match='acb'>
<re.Match object; span=(0, 6), match='a12?Ab'>

In [208]:
# re.DOTALL 옵션은 여러줄로 이루어진 문자열에서 \n에 상관없이 검색시 사용

p = re.compile('a.b', re.DOTALL)

m = p.match('a\nb')
print(m)

<re.Match object; span=(0, 3), match='a\nb'>

In [210]:
text = 'what are you doing?\n it is going to be late for school'

p = re.compile('.*')
m = p.search(text)

print(m.group())

what are you doing?

In [212]:
text = 'what are you doing?\n it is going to be late for school'

p = re.compile('.*', re.DOTALL)
m = p.search(text)

print(m.group())

what are you doing?
 it is going to be late for school

### 과제4

text 에서 전체 문장을 모두 출력하세요

In [590]:
text = 'what are you doing?\nit is going to be late for shcool\nwe need to hurry up'

m = re.search(r'.+', text, re.DOTALL)

print(m.group())

what are you doing?
it is going to be late for shcool
we need to hurry up

In [218]:
# re.IHNORECASE 또는 re.I 옵션은 대소문자 구분없이 매치를 수행시 사용

re.match('[a-z]+', 'pAthon', re.I).group()

'pAthon'

### 과제 5

아래 text에 내용을 모두 출력하세요<br>

text = ['pAthon', 'PATHON', 'pathon', 'Pathon']

In [591]:
text = 'pAthon PATHON pathon Pathon'

m = re.findall('[a-z]+', text, re.I)

for i in m :
    print(i)

pAthon
PATHON
pathon
Pathon

In [601]:
text = 'pAthon PATHON pathon Pathon'

m = re.findall(r'\w+', text, re.I)

for i in m :
    print(i)

pAthon
PATHON
pathon
Pathon

In [251]:
# 대소문자 구분없이 출력

text = 'Friend fRiend friEnd FRIEND'

p = re.compile('[a-z]+', re.I)

m = re.finditer(p, text)

for i in m :
    print(i.group())

Friend
fRiend
friEnd
FRIEND

In [239]:
data = '''python one
life is too short
python  two 
you need python
python three'''

In [245]:
# pyhon 이라는 문자열로 시작하고 그 뒤에 whitespace 그뒤에 단어가 오는경우

re.findall('^python\s\w+', data)

['python one']

In [247]:
# re.MULTILINE 또는 re.M옵션으로 ^메타 문자를 각 라인이 처음으로 인식시킴

re.findall('^python\s+\w+', data, re.M)

['python one', 'python two', 'python three']

In [273]:
# re.VERBOSE 또는 re.X : 이해하기 어려운 정규식을 주석 또는 라인 단위로 구분
# charref = re.compile(r'&[#](0[0-7]+|[0-9]+|x[0-9a-fA-F]+);')

charref = re.compile(r"""
&[#]               # Start of a numeric entity reference
(
    0[0-7]+        # Octal form
  | [0-9]+         # Decimal form 
  | x[0-9a-fA-F]+  # Hexadecimal form
)
;                  # Trailing semicolon 
""",re.VERBOSE)

In [280]:
# 파이썬 문자열 리터럴 규칙에 의하여 \\ 이 \로 변경되어 \section이 전달
# 정규식 문자열 앞에 r문자를 삽입하면 raw string규칙에 의해 \\ 대신 \ 1개 사용

p = re.compile(r'\\section')
p.match(r'\section')
p.findall(r'\section\section')

['\\section', '\\section']

In [295]:
# | or 와 같은 의미 

re.match('Crow|Servo', 'CrowHello').group()

'Crow'

In [304]:
# ^ 문자열의 맨 처음 $ 문자열의 끝

re.search('^Life', 'Life is too short').group()

'Life'

In [306]:
re.search('Life$', 'My Life').group()

'Life'

In [308]:
re.findall('^Life|Life$', 'Life My Life')

['Life', 'Life']

In [311]:
# \A : 문자열의 처음과 매치 re.M 사용시 $ 와 달리 전체 문자열의 끝하고만 매치

data = """Life is too short
Life is good
Life is valuable"""

re.findall('\ALife', data)

['Life']

In [315]:
data = """Life is too short
Life is good
Life is valuable"""

re.findall('^Life', data, re.M)

['Life', 'Life', 'Life']

In [319]:
# \Z : 문자열의 끝과 매치 다만 re.M 사용시 $ 와 달리 전체 문자열의 끝하고만 매치

data = """Life is too short
Life is good
Life is good"""

re.findall('good\Z', data, re.M)

['good']

In [323]:
# home만 출력

text = 'we are going home'

re.search('home$', text).group()

'home'

In [325]:
# home만 출력

text = 'home sweet'

re.search('^home', text).group()

'home'

In [328]:
# '199305, 1923A, a93247' 에서 199305 출력

text = '199305, 1923A, a93247'

re.search('^199305', text).group()

'199305'

In [623]:
text = '1923A, 199305, a93247'
re.findall('(\d+),', text)

['199305']

In [353]:
# \b : whitespace에 의해 구분

text = 'no class at all'

re.search(r'\bclass\b', text).group()

'class'

In [356]:
# \B : whitespace 로 구분된 단어가 아닌 경우에 만 매치

text = 'the declassified aigorithim'

re.search(r'\Bclass\B', text).group()

'class'

In [627]:
# 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트 출력

text = '에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx'

re.findall(r'에러\s\w+', text)

['에러 1122', '에러 1033', '에러 xxx']

### 과제6

() 에 정규표현식을 작성하여 아래와 같이 출력하세요

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [503]:
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'

regex = re.compile(r'\d+\s\w+')

list = regex.findall(li)
print(list)

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

### 과제7

text 에서 다음을 수행하세요

- H h 만 출력하세요
- H h 가 아닌것을 모두 출력하세요

In [606]:
text = 'Hello my friend! Life is short you need python!'

m = re.findall('[h]', text, re.I)
print(m)

m1 = re.findall('[^h]+', text, re.I)
print(m1)

['H', 'h', 'h']
['ello my friend! Life is s', 'ort you need pyt', 'on!']

In [419]:
# 그룹핑
# group(0) 매치된 전체 문자열 1 첫번째 그룹 2 두번째 그룹 n n번째 그룹

text = 'ABCABCABC OK?'

m = re.search('(ABC)+', text)

print(m)
print(m.group(0))
print(m.group(1))

<re.Match object; span=(0, 9), match='ABCABCABC'>
ABCABCABC
ABC

In [421]:
# text 에서 그룹핑을 사용하여 아래와 같이 출력하세요

# ABCDEF
# AB
# CD
# EF

In [437]:
text = 'EDFABCDEFDEF OK?'

m = re.search(r'((AB)(CD)(EF))', text)

print(m.group(0))
print(m.group(1))
print(m.group(2))
print(m.group(3))
print(m.group(4))

ABCDEF
ABCDEF
AB
CD
EF

### 과제8

정규표현식을 사용하여 출력하세요

- text 에서 지역 코드만 출력
- 지역 코드 제외한 번호만 출력

text = '문의사항이 있으면 032-232-3254로 연락주시기 바랍니다.'

In [525]:
text = '문의사항이 있으면 032-232-3254'

m = re.search(r'(\d{2,3})-(\d{3,4}-\d{4})', text)

print(m.group())
print(m.group(1))
print(m.group(2))

032-232-3254
032
232-3254

In [447]:
text = 'park 010-1234-1234'

m = re.search(r'(\w+)\s+((\d+)[-]\d+[-]\d+)', text)

print(m)
print(m.group(1))
print(m.group(2))
print(m.group(3))
print(m.group())

<re.Match object; span=(0, 18), match='park 010-1234-1234'>
park
010-1234-1234
010
park 010-1234-1234

In [458]:
# 'Paris is very very beautiful.' 에서 'very very'를 출력하세요
# \1 은 재참조 메타문자로서 그룹핑된 문자열의 정규식의 첫번째 그룹을 지칭 2개의 동일한 단어가 연속적으로 사용되어야 매치

text = 'Paris is very very beautiful.'

m = re.search(r'\b(\w+)\s+\1', text)

print(m.group())

very very

### 과제 9

아래 text에서 정규표현식을 사용하여 the the the 를 출력하세요

In [541]:
text = 'Paris in the the the spring'

m = re.search(r'\b(\w+)\s+\1\s+\1', text)

print(m.group())

the the the

In [479]:
# 'abcdefghij'에 대하여 중첩을 작용한 서브그룹 5개로 컴파일하여 group() 함수를 이용하여
# 'abcdefgi' 'e'를 출력하세요

text = 'abcdefghij'

m = re.search(r'\w+(e)\w+[^j]', text)

print(m.group(0))
print(m.group(1))

abcdefghi
e

In [486]:
text = 'abcdefghij'

m = re.search(r'(a(b(c(d(e)f)g)h)i)j', text)

print(m.group(1))
print(m.group(5))

abcdefghi
e

In [487]:
# 위 문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력

print(m.groups())

('abcdefghi', 'bcdefgh', 'cdefg', 'def', 'e')

그룹핑된 문자열에 이름 붙이기

- 정규표현식에서 그룹핑된 문자열에 이름을 붙이는 방법은 (?P$<name>$pattern) 형식을 사용하는 것입니다 
이때 name은 그룹에 붙일 이름이며 pattern은 그룹화할 정규식 패턴입니다

In [497]:
text = "John's phone number is 123-4533-7890."

p = r'(?P<phone>\d{3}-\d{4}-\d{4})'

m = re.search(p, text)
m.group('phone')

'123-4533-7890'

### 과제 10

이름으로 그룹을 참조하여 text에서 Lots를 출력하세요

text = 'Lots of punctuation Lots of punctuation'

In [647]:
text = 'Lots of punctuation Lots of punctuation'

p = r'(?P<L>Lots)'

m = re.search(p, text, re.M)

print(m.group('L'))

Lots

In [646]:
text = 'Lots of punctuation Lots of punctuation'

p = r'(?P<L>Lots)'

m = re.finditer(p, text, re.M)

for i in m :
    print(i.group('L'))

Lots
Lots